@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Roboto, sans-serif;
        @apply text-body text-base;
    }
    body {
        margin: 0;
        padding: 0;
        @apply bg-surface;
    }
}

@layer components {
    .section {
        @apply flex flex-col gap-8;
        @apply px-6 py-6;
    }

    .title {
        @apply text-3xl font-black md:text-[42px] leading-[49px];
    }
    
    .subtitle {
        @apply text-[24px] leading-[32px] font-bold text-center;
    }

    .section__card {
        @apply flex flex-col justify-center items-center gap-5 text-center shadow-lg rounded-3xl w-[300px] mb-10;
    }

    .section__card--content {
        @apply flex flex-col justify-center items-center gap-5 text-center px-7 py-1;
    }

    .section__card--header {
        @apply bg-primary w-full h-[22px] rounded-t-full rounded-b-md px-0;
    }

    .section__card--circle {
        @apply flex items-center justify-center bg-primary rounded-full text-white w-16 h-16;
    }

    .section__card--title {
        @apply text-2xl font-black text-primary h-14 w-56;
    }

    .section__card--description {
        @apply text-left text-smokeBlack lg:text-[20px] text-[18px] mt-3 mb-5;
    }

    .link {
        @apply text-2xl font-medium text-primary underline decoration-solid;
    }

    .testimonial__quote {
        @apply md:text-[20px] text-[18px] leading-6 font-light text-smokeBlack;
    }

    .review__card {
        @apply text-[20px] w-[234px] text-surface border-l-4 pl-6 border-secondary h-min mb-12;
    }
}

#navbar-btn-open {
    @apply hidden;
}

.navbar--open #navbar-menu {
    height: calc(100vh - 4.5rem);
}

.navbar--open #navbar-btn-open {
    @apply block;
}

.navbar--open #navbar-btn-close {
    @apply hidden;
}

.splide__pagination {
   bottom: -16px !important;
}
.splide__pagination__page.is-active {
    background-color: #F3982E !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-180px * 11));
    }
}