@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto','Open Sans', 'sans-serif';
        @apply text-body text-base;
    }
    body {
        margin: 0;
        padding: 0;
        @apply bg-surface;
    }
}

@layer components {
    .section {
        @apply flex flex-col gap-8;
        @apply px-6 py-6;
    }

    .title {
        @apply text-3xl font-extrabold md:text-4xl;
    }
    
    .subtitle {
        @apply text-2xl md:text-3xl font-bold text-center whitespace-nowrap;
    }

    .section__card {
        @apply flex flex-col justify-center items-center gap-5 text-center px-6 py-1;
    }

    .section__details {
        @apply flex flex-col mr-auto text-left gap-2 px-6 pt-8 text-[18px];
    }

    .section__list {
        @apply flex flex-col gap-3 list-disc px-6;
    }

    .section__card--icon {
        @apply relative px-0 pb-8 shadow-lg rounded-lg w-full max-w-[312px] h-[400px] mx-auto mx-auto md:w-[340px] md:max-w-none;
    }


    .section__card--icon::before {
        content: ' ';
        background-image: url('../images/orange-form.svg');
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: contain;
        z-index: -1;
        background-repeat: no-repeat;
    }
    
    .section__scroll {
        @apply flex gap-20 py-24;

        animation: scroll 20s linear infinite;
    }

    .section__scroll img {
        @apply w-[100px] h-[100px];
    }

    .vertical-card {
        @apply w-[148px] h-[148px] drop-shadow-md flex flex-col items-center bg-white rounded-lg py-5 gap-4;
    }
}

#navbar-btn-open {
    @apply hidden;

}

.navbar--open #navbar-menu {
    height: calc(100vh - 4.5rem);
}

.navbar--open #navbar-btn-open {
    @apply block;
}

.navbar--open #navbar-btn-close {
    @apply hidden;
}

.splide__pagination {
   bottom: -16px !important;
}
.splide__pagination__page.is-active {
    background-color: #F3982E !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-180px * 11));
    }
}